.App-container {
  background-image: url("https://wallpapercave.com/wp/wp4464940.jpg");
  background-size: cover;
  border: 0.1px solid rgba(128, 128, 128, 0.274);
  height: 100vh;
  text-align: center;
}
